<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="ConnectionSQL" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </configSections>
  
    <ConnectionSQL>
      <!-- Server Database-->
      <add key="ServerDB" value="202.44.55.96"/>
      <add key="UserDB" value="sa"/>
      <add key="PassDB" value="eCjNTSeQLcEBkvptDd0lbzKXMcbdYFCO"/> <!-- Encrypt PrivateKey = Sk$4dF#z-->
      <add key="DBName" value="SKC_Fullloop2"/>
      <add key="AuthenDB" value=""/>
      <add key="tMQVHost" value="3"/> <!-- 1:Master, 2:Sale, 3: Doc-->
      <add key="AlwKeepLogMonitor" value="1"/> <!-- เปิดใช้งานเก็บ Log Moniter 1:เก็บ, 2:ไม่เก็บ -->
    </ConnectionSQL>   
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>