@media screen and (min-width: 0px) {

    .dataTables_paginate {
        margin-top: 20%;
    }
}

@media screen and (min-width: 1400px) {
    html {
        zoom: 100%;
        display: flex;
        justify-content: space-between;
        flex: 1; /* แบ่งพื้นที่เท่ากันในแนวนอน */
        padding: 20px;
    }

    body {
        zoom: 100%;
    }
    .dataTables_paginate {
        margin-top: 20%;
    }
}
