<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestApp.Properties.Settings.Setting" connectionString="Data Source=202.44.55.94;Initial Catalog=TesterAdaVD;Persist Security Info=True;User ID=sa;Password=Ad@soft2016"
            providerName="System.Data.SqlClient" />
        <add name="TestApp.Properties.Settings.Setting1" connectionString="Data Source=Localhost;Initial Catalog=I_WMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>