<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="rabbitMQSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="keySettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="consolidateDBSetting" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="bchFCDBSetting" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="hqFCDBSetting" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="shopDBSetting" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<rabbitMQSettings>
    
    <!-- Server RabbitMQ for 202.44.55.96 (ห้ามลบ)-->
	  <!--<add key="HostName" value="6UO8oNdWtMjPRYFhoyAywQWEt0QOrU1+16kkO3pgh0M=" />
    <add key="UserName" value="8BP7tjqg/QpswrUHiwMomA==" />
	  <add key="Password" value="8BP7tjqg/QpswrUHiwMomA==" />-->

    <!-- Server RabbitMQ for Arm (ห้ามลบ)-->
    <add key="HostName" value="N1mFqK4xMuN0aCW4VNxf5gkG7n3FezJv" />
    <add key="UserName" value="8BP7tjqg/QpswrUHiwMomA==" />
    <add key="Password" value="8BP7tjqg/QpswrUHiwMomA==" />
    
    <!-- for AdaPos5.0Doc -->
    <!--<add key="VirtualHost" value="oklV+QiMfR0lAF3vadbEThiIETfkaBEsqeEIygMrtLoQFgBVHLkhVA==" />
    <add key="ListQueue" value="CARDREQUEST,CARDRETURN,CARDTOPUP,CARDVOIDTOPUP,CARDADJSTATUS,CARDSWAP,CARDNEW,CARDCLEAR,ADJUSTPRICE,TNFWAREHOSE,TNFWAREHOSEOUT,TNFWAREHOSEIN,PURCHASEINV,PURCHASECN,ADJUSTSTOCK,TNFWAREHOSEVD,ADJUSTPRICERT,TNFBRANCH,TNFBRANCHOUT,TNFBRANCHIN" />-->

    <!--for AdaPos5.0Sale-->
    <add key="VirtualHost" value="oklV+QiMfR0lAF3vadbETokcKP/zYuJ3jweT2t2s9lu6+S7ZjGvUqw==" />
    <add key="ListQueue" value="AR_QGenTARTSO,AR_QNotiMsgPrc,SALEPOS,CONSOLIDATE,FCBCH2HQSALE,SALEPOSVD,UPLOADSALEVD,UPLOADSALE,UPLOADTAX,UPLOADSHIFT,UPLOADVOID,POSEJ,UPLOADSALERT,UPLOADSALEPAY,UPLOADADMINHIS,UPLOADBOOKING,FN_PayReqCoupon,UPDATEREFER,PS_QListDocByShift,PS_QSaleExpress" />
    
    <!--for AdaPos5.0Master-->
    <!--<add key="VirtualHost" value="oklV+QiMfR0lAF3vadbETvGhv/aKzEWBJpCW+iyWFfM=" />
    <add key="ListQueue" value="BR_QTransfer,AR_DocApprove" />-->
    

	</rabbitMQSettings>
	<keySettings>
		<add key="Key" value="Sk$4dF#z" />
	</keySettings>
	<consolidateDBSetting>
		<add key="Server" value="6UO8oNdWtMjPRYFhoyAywTZjvdys0kyE0G8iNEBEjgs=" />
		<add key="User" value="+z1PZM7kVJI=" />
		<add key="Password" value="6LNJGYUqK1oMTWABwQyz+7FccaGPC6WA" />
		<add key="Database" value="t6owI+3QeFJfr4JxaT4zaZffrc68D11FimGBmW5AofBcOpuXnyAmAQ==" />
		<add key="AuthenMode" value="2" />
		<add key="ConnectTimeOut" value="60" />
		<add key="CommandTimeOut" value="60" />
	</consolidateDBSetting>
	<bchFCDBSetting>
		<add key="Server" value="6UO8oNdWtMjPRYFhoyAywTZjvdys0kyE0G8iNEBEjgs=" />
		<add key="User" value="+z1PZM7kVJI=" />
		<add key="Password" value="6LNJGYUqK1oMTWABwQyz+7FccaGPC6WA" />
		<add key="Database" value="kY3tNCnbRX6UAtJ+31ylkTzsqZ4TCpevF41cZIyvxOvcGZieNuXEOzUsT21fdIev" />
		<add key="AuthenMode" value="2" />
		<add key="ConnectTimeOut" value="60" />
		<add key="CommandTimeOut" value="60" />
	</bchFCDBSetting>
	<hqFCDBSetting>
		<add key="Server" value="6UO8oNdWtMjPRYFhoyAywTZjvdys0kyE0G8iNEBEjgs=" />
		<add key="User" value="+z1PZM7kVJI=" />
		<add key="Password" value="6LNJGYUqK1oMTWABwQyz+7FccaGPC6WA" />
		<add key="Database" value="t6owI+3QeFJE4qlos1igYOxUo2Qp/F2J" />
		<add key="AuthenMode" value="2" />
		<add key="ConnectTimeOut" value="60" />
		<add key="CommandTimeOut" value="60" />
	</hqFCDBSetting>
	<shopDBSetting>
		<add key="AuthenMode" value="2" />
		<add key="ConnectTimeOut" value="60" />
		<add key="CommandTimeOut" value="60" />
		<add key="URLAIP2FNWallet" value="RruSzBQUMt0UhdEjuCn8E/GBxdKXocqMGNRVzGvvWsyv5uyaAbQdUZgek7GE8TLScVdsQ8qVeC1Yt/XI4D3Nsg==" />
		<add key="URLAIP2PSMaster" value="https://202.44.55.96:4433/ADAMoshi/STD/API2PSMaster/V3" />
		<add key="RecordPerRound" value="25" />

    <!-- Server Database for 202.44.55.96 (ห้ามลบ) -->
		<add key="Server" value="202.44.55.96" />
    <add key="User" value="sa" />
    <add key="Password" value="eCjNTSeQLcEBkvptDd0lbzKXMcbdYFCO" />
    <add key="Database" value="AdaKubota_Dev" />

    <!-- Server Database for Arm (สำหรับทดสอบ ห้ามลบ) -->
    <!--<add key="Server" value=".\SQLSERVER2016" />
		<add key="User" value="sa" />
		<add key="Password" value="L/QlhNKa1dQAFQh+51ZOJmhquEaLoKB+" />
		<add key="Database" value="SKC_Back" />-->
    <add key="StaUseCentralized" value="1" />
    <add key="StaAlwSendAdaLink" value="1" /> <!-- สถานะอนุญาตส่งการขายไป MQAdaLink  1:อนุญาต, 2:ไม่อนุญาต-->
  
	</shopDBSetting>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.windows.forms jitDebugging="true" />

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>