<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbConnectionString"
      connectionString= "Provider = Microsoft.Jet.OLEDB.4.0.; Data Source =  {0}\ComponentOne Samples\Common\C1NWind.mdb;"
      providerName="System.Data.OleDb" />

    <add name="selectQuery"
           connectionString= "Select * From Cars"
           />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>