body {
    /* Home */

    position: relative;
    width: 1366px;
    height: 768px;
    background: linear-gradient(243.18deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0) 100%), linear-gradient(243.43deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0) 82.03%), #F39494;
    /* Container */

    position: absolute;
    width: 536px;
    height: 467px;
    left: 415px;
    top: 139px;
    background: #FFFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* Rectangle 2 */

    position: absolute;
    width: 394px;
    height: 44px;
    left: 486px;
    top: 344px;
    background: #FAEAEE;
    border-radius: 5px;
    /* Rectangle 3 */

    position: absolute;
    width: 394px;
    height: 44px;
    left: 486px;
    top: 405px;
    background: #FAEAEE;
    border-radius: 5px;
    /* Password */

    position: absolute;
    width: 151px;
    height: 26px;
    left: 497px;
    top: 353px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    /* OCC Telesale */

    position: absolute;
    width: 259px;
    height: 32px;
    left: calc(50% - 259px/2 + 43.5px);
    top: 232px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #666666;
    /* First Last name */

    position: absolute;
    width: 394px;
    height: 44px;
    left: 486px;
    top: 282px;
    /* Rectangle 2 */

    position: absolute;
    width: 394px;
    height: 44px;
    left: 486px;
    top: 282px;
    background: #FAEAEE;
    border-radius: 5px;
    /* Username */

    position: absolute;
    width: 151px;
    height: 26px;
    left: 497px;
    top: 291px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    /* Signup button */

    position: absolute;
    width: 394px;
    height: 44px;
    left: 486px;
    top: 512px;
    /* Rectangle 4 */

    position: absolute;
    width: 394px;
    height: 44px;
    left: 486px;
    top: 512px;
    background: #F84874;
    border-radius: 5px;
    /* Sign up */

    position: absolute;
    width: 70px;
    height: 26px;
    left: 648px;
    top: 521px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    /* Arrow 1 */

    box-sizing: border-box;
    position: absolute;
    width: 22px;
    height: 0px;
    left: 834px;
    top: 534px;
    border: 3px solid #FFFFFF;
    /* Terms */

    position: absolute;
    width: 293px;
    height: 30px;
    left: 486px;
    top: 466px;
    /* เลือกใช้ Database สำรอง */

    position: absolute;
    width: 247px;
    height: 19px;
    left: 532px;
    top: 468px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    /* Rectangle 14 */

    position: absolute;
    width: 30px;
    height: 30px;
    left: 486px;
    top: 466px;
    background: #FAEAEE;
    border-radius: 8px;
    /* OCC_LOGO_Trans 1 */

    position: absolute;
    width: 141px;
    height: 50px;
    left: 603px;
    top: 164px;
    background: url(OCC_LOGO_Trans.png);
    /* © 2023 Teleinfo Media Public Company Limited */

    position: absolute;
    width: 278px;
    height: 18px;
    left: 552px;
    top: 572px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: #666666;
    /* Vector */

    position: absolute;
    left: 63.32%;
    right: 35.53%;
    top: 54.95%;
    bottom: 42.71%;
    background: #F84874;
    transform: rotate(90deg);
}
