<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rabbitMQSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="keySettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
  <rabbitMQSettings>

    <!-- Arm 62-10-24 : ใช้ทดสอบบนเครื่อง PC -->
    <add key="HostName" value="202.44.55.96" /><!--localhost-->
    <add key="UserName" value="Admin" /><!--Admin-->
    <add key="Password" value="Admin" /><!--Admin-->
    <add key="VirtualHostMaster" value="AdaPos5.0Master_Kubota" />
    <add key="VirtualHostSale" value="AdaPos5.0Sale_Kubota" />
    <add key="HostPort" value=""/><!--Defult ค่าว่าง-->
    <add key="QueueName" value=""/><!--Defult ค่าว่าง-->
    
  </rabbitMQSettings>
  <keySettings>
    <add key="Key" value="Sk$4dF#z"/>
  </keySettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>